<!-- <h1>{{myName}}</h1>
<button [disabled]= "isDisable" type='button'(click)="confirm()"> click</button>
<input [(ngModel)] ="firstName" >
<tr *ngFor="let book of books">
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
  <td>{{book.instock| uppercase}}</td>
</tr>
<h2>{{books[3].instock| uppercase}}</h2> -->
<!-- <app-school></app-school> -->
<!-- <h1>main page</h1> -->
<!-- <a [routerLink]="['/school']"></a>
<router-outlet></router-outlet> -->

<a [routerLink]="['/home']"></a>
<router-outlet></router-outlet>
